.loginRegister {
  background: rgb(235,87,82);
background: linear-gradient(90deg, rgba(235,87,82,1) 0%, rgba(255,0,179,1) 0%, rgba(0,255,181,1) 100%);
  display: flex;
  justify-content: space-between;
  padding: 8px 70px;
  align-items: center;
  border-bottom: 2px solid rgb(251, 255, 0);
}
.loginRegister .formsBtns {
  display: flex;
  gap: 10px;
}

.loginRegister .login, .register {
  font-family: 'Cinzel';
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  background-color: #FA26A0;
  color: #F8D210;
  border-radius: 20px;
}
.loginRegister .login:hover, .register:hover {
  background-color: #F8D210;
  color: #FA26A0;
  transition: ease 0.3s;
}