footer {
  font-family: 'Cinzel';
  background-color: #fffb00f8;
  color: #ff00ea;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}
footer section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer #left {
  padding: 5px;
  line-height: 30px;
}
footer #left > p {
  font-family: 'Cinzel';;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}
footer i {
  padding-right: 10px;
}
footer .logo {
  border: none;
 height: 100px;
 width: 180px;
}
footer .address {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  padding-left: 10px;
}
footer .address div {
  display: flex;
  align-items: center;
  margin: 0;
}
footer .address div p,
footer .address div a {
  font-family: 'Cinzel';;
  margin: 0;
}
footer section#right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  font-family: 'Cinzel';
  font-size: large;
}
footer section#right h3 {
  font-size: 20px;
  margin: 0;
}
footer .soc-networks {
  text-align: center;
}
footer .soc-networks i {
  font-size: 20px;
}
footer a {
  color: inherit;
}

footer ul {
  list-style-type: none;
}
.copyrights p {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
